<ion-content>
	<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown" 
      pullingText="Pull to refresh" 
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
	  <ion-item *ngFor="let item of items" (tap)="opendetail(item,carData)">
	    <ion-thumbnail item-start style="background-color: #0066b1" class="tumb">
	      <div class="tumb" style="font-size: 14px; color: white;">{{item.OrderDate | date : 'yyyy'}}</div>
	      <div class="tumb" style="font-size: 30px; color: white;"><b>{{item.OrderDate | date : 'd'}}</b></div>
	      <div class="tumb" style="font-size: 20px; color: white;">{{item.OrderDate | date : 'MMM'}}</div>
	    </ion-thumbnail>
	    <h2 style="color: #0066b1;" text-left><b>Dari : {{item.Source}}</b></h2>
	    <h2 style="color: #0066b1;" text-left><b>Ke : {{item.Destination}}</b></h2>
	    <button ion-button clear item-end [color]="item.Color">
	    	<span style="font-size: 14px; font-weight: bolder;"><b>{{item.CarBankIdText}}</b></span>
	    </button>
	  </ion-item>
	</ion-list>
	<ion-list no-lines *ngIf="nodata" class="tumb">
		<ion-item href="#">&nbsp;</ion-item>
		<ion-item class="tumb">
			<ion-icon class="tumb" name="ios-cloudy-outline" style="font-size: 200px" color="button" no-padding></ion-icon>
	  	<span style="color: #0066b1; font-size: 26px;" class="tumb">Tidak ada Riwayat</span>
	  </ion-item>
	</ion-list>
	<ion-fab right bottom (tap)="getFilter()">
  	<button ion-fab [color]="color"><ion-icon name="ios-funnel"></ion-icon></button>
	</ion-fab>
	<ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" *ngIf="totalitems > param.end">
  	<ion-infinite-scroll-content
  		loadingSpinner="bubbles"
      loadingText="Loading more data...">
  	>
  	</ion-infinite-scroll-content>
 	</ion-infinite-scroll>
</ion-content>
