<ion-header>

  <ion-navbar color="button">
    <ion-title>Detail Order</ion-title>
    <ion-buttons end>    
	    <button ion-button icon-only (tap)="dismiss()" style="padding-right:5px">
	      <ion-icon name="ios-close"></ion-icon>
	    </button>
	  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
	<h1 text-center><b><u>Detail Order</u></b></h1>
	<ion-card>
	  <ion-card-content>
	  	<ion-grid>
			  <ion-row no-padding>
			    <ion-col text-right no-padding style="padding-top: 5px;padding-bottom: 5px;">Dari &nbsp;&nbsp;:</ion-col>
			    <ion-col text-left no-padding style="padding-top: 5px;padding-bottom: 5px;">&nbsp;&nbsp;{{param.Source}}</ion-col>
			  </ion-row>
			  <ion-row no-padding>
			    <ion-col text-right no-padding style="padding-top: 5px;padding-bottom: 5px;">Ke &nbsp;&nbsp;:</ion-col>
			    <ion-col text-left no-padding style="padding-top: 5px;padding-bottom: 5px;">&nbsp;&nbsp;{{param.Destination}}</ion-col>
			  </ion-row>
			  <ion-row no-padding>
			    <ion-col text-right no-padding style="padding-top: 5px;padding-bottom: 5px;">Pemberi Order &nbsp;&nbsp;:</ion-col>
			    <ion-col text-left no-padding style="padding-top: 5px;padding-bottom: 5px;">&nbsp;&nbsp;{{param.FullName}}</ion-col>
			  </ion-row>
			  <ion-row no-padding>
			    <ion-col text-right no-padding style="padding-top: 5px;padding-bottom: 5px;">Nama Penumpang &nbsp;&nbsp;:</ion-col>
			    <ion-col text-left no-padding style="padding-top: 5px;padding-bottom: 5px;">&nbsp;&nbsp;{{param.PassangerName}}</ion-col>
			  </ion-row>
			  <ion-row no-padding>
			    <ion-col text-right no-padding style="padding-top: 5px;padding-bottom: 5px;">Catatan &nbsp;&nbsp;:</ion-col>
			    <ion-col text-left no-padding style="padding-top: 5px;padding-bottom: 5px;">&nbsp;&nbsp;{{param.Note}}</ion-col>
			  </ion-row>
			</ion-grid>
	    
	    <!-- </ion-list> -->
	  </ion-card-content>

	</ion-card>
	<ion-grid>
		<ion-row style="padding-left: 5px; padding-right: 5px">
			<ion-label stacked text-left color="button">Pilih Mobil : </ion-label>
		  <ion-item no-line text-left class="rounded">
		  	<ion-label>Pilih Mobil</ion-label>
		    <ion-select [(ngModel)]="param.CarBankId" text-right>
			    <ion-option *ngFor="let car of carData" [value]="car.CarBankId">{{car.BrandName}} {{car.PlatNo}}</ion-option>
			  </ion-select>
		  </ion-item>
		</ion-row>
	</ion-grid>
	<br>
	<ion-grid *ngIf="page == 'order' && OccupationCode =='DRV'">
		<ion-row no-padding class="back">
			<ion-col text-left no-padding>
				<button 
					*ngIf="buttonleft" 
					[disabled]="buttonleftdisabled"
					ion-button 
					outline 
					round 
					style="height: 56px; width: 56px" 
					color="light" 
					(swipe)="swiped($event)">
					<ion-spinner name="crescent" class="leftload" *ngIf="leftload"></ion-spinner>
  				<ion-icon name="md-checkmark" *ngIf="!leftload" style="font-size: 50px;"></ion-icon>
				</button>
				<ion-label *ngIf="buttonleft" class="labeltext"><b>Terima >></b></ion-label>
			</ion-col>
			<ion-col text-right no-padding>
				<ion-label *ngIf="buttonright" class="labeltext"><b><< Tolak</b></ion-label>
				<button 
					*ngIf="buttonright" 
					[disabled]="buttonrightdisabled"
					ion-button 
					outline 
					icon-only 
					round style="height: 56px; width: 56px" 
					color="light" 
					(swipe)="swiped($event)">
		  		<ion-icon name="md-close" *ngIf="!rightload" style="font-size: 50px;"></ion-icon>
		  		<ion-spinner name="crescent" class="rightload" *ngIf="rightload"></ion-spinner>
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
