page-kehadiran {
	ion-card.card {
		box-shadow: none;
		min-height: 200px;
		border: 2px dashed #ececec;
		border-radius: 5%;
		background: transparent;
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
}	
